/*SUMÁRIO
00- Geral
01- Menu
02- Intro
03- História
04- Produtos
05- Locais
06- Assine
07- Footer
*/

/* 00- Geral */

:root {
    --preto-primario: #333;
    --preto-secundario: #252525;
    --branco-primario: #fafafa;
    --cinza-primario: #e7e4d8;
    --cinza-footer: #d6d3c8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
.clear:after, .clear:before {
    content: "";
    display: table;
    clear: both;
}

/* 01- Menu */

.menu {
    background-color: var(--preto-secundario);
    padding: 10px 0px   
}

.menu ul li a {
    font-family: 'Georgia', serif;
    color: var(--branco-primario);
    text-decoration: none;
}

.menu-nav {
    float: right;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav li a {
    padding: 5px 15px;
    display: block;
}

.menu-nav ul li:after {
    content: "";
    display: block;
    background-color: var(--branco-primario);
    height: 5px;
    width: 0;
    transition: .3s;
}

.menu-nav ul li:hover:after {
    width: 100%;
    transition: .3s;
}

/* 02- Intro */

.intro {
    text-align: center;
    color: var(--branco-primario);
    background: url(../assets/img/bg-intro.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0px;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

.intro h1:after {
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--branco-primario);
    margin: 10px auto;
}

.intro h1:hover:after {
    width: 40px;
    transition: .5s;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
    font-family: 'Georgia', serif;
}

/* 03-  História */

.sobre {
    padding: 60px 0;
}

.sobre h2 {
    font-family: 'Georgia', serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item {
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img{
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2em;
    background-color: var(--preto-secundario);
    width: 220px;
    color: var(--branco-primario);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    text-align: center;
    width: 220px;
    padding: 5px 0 10px 0;
    position: relative;
    top: -25px;
}

.sobre p {
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}

.produtos {
    background-color: var(--cinza-primario);
    height: 450px;
    border-style: solid;
    border-width: 3px 0;
    border-color: var(--cinza-footer);
}

.produtos-item {
    width: 260px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 55px;
}

.produtos-paulista:before {
    content: "";
    display: block;
    background-color:#492902;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px auto 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cinza-primario);
    box-shadow: 0 0 0 5px #492902;
}

.produtos-carioca:before {
    content: "";
    display: block;
    background-color:#c2713a;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px auto 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cinza-primario);
    box-shadow: 0 0 0 5px #c2713a;
}

.produtos-mineiro:before {
    content: "";
    display: block;
    background-color:#d7a54e;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px auto 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cinza-primario);
    box-shadow: 0 0 0 5px #d7a54e;
}

.produtos-item h2 {
    font-family: 'Georgia', serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.produtos-item p {
    font-family: 'Georgia', serif;
    font-size: .8em;
    line-height: 1.4em;
    padding-bottom: 50px;
}

.produtos-btn {
    padding: 10px;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--preto-primario);
    border-style: solid;
    border-width: 3px;
    margin: 20px 530px;
}

.produtos-btn:hover {
    background-color: var(--preto-primario);
    border-color: var(--preto-primario);
    color: var(--cinza-primario);
    transition: .5s;
}

/* 05- Locais */

.locais {
    padding: 50px 180px 0 150px;
    margin-bottom: 50px
}
.locais-item { 
    max-width: 800px;
}

.locais-item:before, .locais-item::after {
    content: "";
    display: table;
    clear: both;
}

.locais-item img {
    max-width: 450px;
    padding: 20px;
    float: left;
}

.locais-item h2 {
    font-family: 'Georgia', serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: 20px 10px;
}

.locais-item p {
    font-family: 'Georgia', serif;
    font-size: 1.125em;
    line-height: 1.4em;
    padding-bottom: 50px;
}

.locais a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--preto-primario);
    border-style: solid;
    border-width: 3px;
}

.locais a:hover {
    background-color: var(--preto-primario);
    border-color: var(--preto-primario);
    color: var(--branco-primario);
    transition: .5s;
}

/* 06- Assine */

.assine {
    background: var(--cinza-primario);
}

.assine-info {
    float: left;
}

.assine-info h2 {
    font-family: 'Georgia', serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: 20px 10px 0;
}

.assine-info p {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-style: italic;
    padding: 0 20px;
}

.assine-form {
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-color: var(--preto-primario);
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 10px;
    margin: 30px 0 50px 30px;
}

.assine-btn {
    padding: 10px;
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--preto-primario);
    color: var(--cinza-primario);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--preto-primario);
    margin-left: -5px;
    height: 53px;
    cursor: pointer;
}

.assine-btn:hover {
    background-color: var(--cinza-primario);
    color: var(--preto-primario);
    transition: .5s;
}

/* 07- Footer */

.footer {
    background-color: var(--cinza-footer);
}

.footer p {
    font-family: 'Georgia', serif;
    font-size: 1.3em;
    padding: 50px 20px;
    float: left;
}

.footer img {
    padding: 50px 0 50px 200px;
}